@model List<Employers>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="card-header" style="display:flex;justify-content:space-between">
                <h3>
                    Employees
                </h3>
                <div>
                    <a asp-action="Create" class="btn btn-danger text-white rounded-pill" style="margin-right:10px">Add Employee</a>
                    <a class="btn btn-info text-white rounded-pill" style="margin-right:10px" asp-action="SendAllEmployersSms">Send email to all</a>
                </div>
            </div>
            <div class="table-responsive">
         
                <table id="myTable" class="display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            
                            <th>Photo</th>
                            <th>Fullname</th>
                            <th>Phone Number</th>
                            <th>Position</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Employers item in Model)
                        {
                            <tr>
                                <td>  <img src="~/../../images/@item.Image" alt="image" style="width:100px ;height:100px; border-radius:100px" /></td>
                                <td>@item.Name</td>
                               
                                <td>@item.PhoneNumber</td>
                                <td>@item.Positions.Name</td>
                                <td>
                                    @if (item.IsDeactive)
                                    {
                                        <span style="padding:1px 2px; background-color:red;color:white">Not Working</span>
                                    }
                                    else
                                    {
                                        <span style="padding:1px 2px; background-color:green;color:white">Working</span>
                                    }
                                </td>
                                <td>
                                    <div @*style="display:flex;justify-content:flex-end"*@>
                                        <a class="btn btn-info text-white rounded-pill" style="margin-right:10px" asp-action="SendEmployersSms" asp-route-id="@item.Id">Email</a>
                                        <a class="btn btn-info text-white rounded-pill" style="margin-right:10px" asp-action="Detail" asp-route-id="@item.Id">Information</a>
                                        <a class="btn btn-info text-white rounded-pill" style="margin-right:10px" asp-action="Update" asp-route-id="@item.Id">Change</a>
                                        @if (item.IsDeactive)
                                        {
                                            <a class="btn btn-success text-white rounded-pill" style="margin-right:30px;width:100px" asp-action="Activity" asp-route-id="@item.Id">Working</a>

                                        }
                                        else
                                        {
                                            <a class="btn btn-danger text-white rounded-pill" style="margin-right:30px;width:100px" asp-action="Activity" asp-route-id="@item.Id">Not working</a>

                                        }
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
             
            </div>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

    <!-- DataTable yalnız bir dəfə yaradıldığından əmin olmaq üçün əlavə şərt -->
    <script>
        $(document).ready(function () {
            if (!$.fn.DataTable.isDataTable('#myTable')) {
                $('#myTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            }
        });
    </script>
}
